<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action='/search' method='post'>
      <input type='text' name='hashtag' placeholder="Search">
      <input type='number' name='max' placeholder="Max">
      <button type='submit'>Search</button>
    </form>
    <form action='/' method='post'>
      <input type='text' name='status' placeholder="Post your status">
      <button type='submit'>Post</button>
    </form>
    <table>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Query</th>
      </tr>
      <%tweets.forEach(t => {%>
        <tr>
          <td><%=t.name%></td>
          <td><%=t.url%></td>
          <td><%=t.query%></td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
